<script type="module">
    import {closeModal} from '../../../static/main/js/modal-utils.js';

    const imagePreviewModal = document.getElementById("image-preview-modal");
    const modalContainerElement = imagePreviewModal.querySelector('.container');

    document.addEventListener('click', (event) => {
        if (event.target === imagePreviewModal.querySelector('.modal-close-button')) {
            closeModal('image-preview-modal');
        }
    });

</script>

<div id="image-preview-modal" class="modal no-cursor-change">
    <div class="container pb-2">
        <div class="close">
            <button class="modal-close-button">&times;</button>
        </div>
        <h1 id="preview-image-title"></h1>
        <div id="preview-image-container">
            {# src is populated via javascript in modal-utils openModal method from the calling window #}
            <img src="" class="modal-content" id="preview-image" alt="Image Preview">
        </div>
        <p id="preview-image-description"></p>
    </div>
</div>