{% load static %}
{% load custom_filters %}

<script type="module">

    import {
        addListenerForFormSubmit,
        incrementQuantityHandler,
        decrementQuantityHandler,
        getProductItemForm,
        setUpdateButtonDisabledStatus
    } from '../../../static/main/js/product-item-row-utils.js';
    import {addClickListener} from '../../../static/main/js/form-utils.js';

    function addListenersForQuantity(productId) {
        const form = getProductItemForm(productId);
        addClickListener(form, productId, "add-quantity", incrementQuantityHandler);
        addClickListener(form, productId, "minus-quantity", decrementQuantityHandler);
    }

    function openModalWithImage(imageSrc, title, description) {
        const modal = document.getElementById("image-preview-modal");
        const modalImage = document.getElementById("preview-image");
        const modalTitle = document.getElementById("preview-image-title");
        const modalDescription = document.getElementById("preview-image-description");

        modal.style.display = "flex";
        modalImage.src = imageSrc;
        modalTitle.textContent = title;
        modalDescription.textContent = description;

        document.body.classList.add('no-cursor-change');
    }

    function addListenersForFormChanges(productId) {
        const form = getProductItemForm(productId);

        form.addEventListener('input', () => {
            setUpdateButtonDisabledStatus(form, false);
        });
    }

    function getImageLocation(image) {
        return '../../../static/main/images/menu/' + image;
    }

    function addListenersForImagePreview(productId, name, description, image) {
        const form = getProductItemForm(productId);
        const imageElement = form.getElementsByClassName('product-img')[0]
        const imageLocation = getImageLocation(image);
        imageElement.addEventListener('click', () => openModalWithImage(imageLocation, name, description));
    }

    addListenerForFormSubmit({{ product.id }});
    addListenersForFormChanges({{ product.id }});
    addListenersForQuantity({{ product.id }});
    addListenersForImagePreview({{ product.id }}, '{{ product.name }}', '{{ product.description }}', '{{ product.image }}');

    const form = getProductItemForm({{ product.id }});
    if (Number(form['quantity'].value) === 0) {
        const minusQuantityElement = form.getElementsByClassName('minus-icon')[0];
        minusQuantityElement.classList.add('quantity-button-disabled');
    }

</script>

<tr class="product-item-row">
    <td>
        <form id="product-item-form-{{ product.id }}" method="post">
            {% csrf_token %}
            <div class="product-item">

                <div class="product-item-header">

                    <h4>{{ product.name }}</h4>
                    <div class="ingredients-warning-container">
                        {% if product.chilli_level > 0 %}
                            {% for i in product.chilli_level|chilli_range %}
                                <img class="warning-img level-{{ forloop.counter }}"
                                     src="{% static 'images/icons/chilli.png' %}"
                                     alt="Chilli" title="Chilli Level">
                            {% endfor %}
                            {% if product.contains_peanuts %}
                                <img class="warning-img"
                                     src="{% static 'images/icons/peanut.png' %}"
                                     alt="Contains Peanuts" title="Contains Peanuts">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="product-details-container container">

                    <p>{{ product.description }}</p>

                    <div class="row">

                        <div class="col-12 col-md-6 mb-4">

                            {% with '/images/menu/'|add:product.image as product_image %}
                                <img src="{% static product_image %}"
                                     alt="Menu Item"
                                     class="product-img img-fluid"
                                     onerror="this.onerror=null; this.src='{% static 'images/no-image.png' %}'">
                            {% endwith %}
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="product-price">${{ product.price|floatformat:2 }}</label>
                            <div class="product-quantity">
                                <label for="quantity">Quantity</label>

                                <input id="quantity" type="number" name="quantity" min="0"
                                       class="form-control" value="{{ product.id|use_cart_item_quantity:cart }}">

                                <i class="clickable-icon minus-quantity minus-icon fa-solid fa-circle-minus fs-5"></i>
                                <i class="clickable-icon add-quantity add-icon fa-solid fa-circle-plus fs-5"></i>

                                <input type="hidden" name="product_id"
                                       value="{{ product.id }}">
                                <button type="submit" disabled class="update-button action-button btn btn-primary">Update</button>
                            </div>
                            <div class="col-12 mt-2">
                                <label for="instructions" class="align-top">Special Instructions</label>
                                <textarea class="w-100" id="instructions"
                                          name="instructions">{{ product.id|use_cart_item_instructions:cart }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </td>
</tr>
