{% load static %}
{% load custom_filters %}

<script type="module">

    import {
        incrementQuantityHandler,
        decrementQuantityHandler,
        saveInstructionsHandler,
        cancelInstructionsHandler,
        prepareEditInstructionsHandler,
        getQuantityValue
    } from '../../../static/main/js/quantity-instruction-utils.js';
    import {addClickListener} from '../../../static/main/js/product-item-listener-utils.js';

    function getProductItemParentElement(productId) {
        return document.getElementById("product-item-form-"+productId);
    }

    function addListenersForQuantity(productId) {
        const parentElement = getProductItemParentElement(productId);
        addClickListener(parentElement, productId, "add-quantity", incrementQuantityHandler);
        addClickListener(parentElement, productId, "minus-quantity", decrementQuantityHandler);
    }

    function openModalWithImage(imageSrc, title, description) {
        const modal = document.getElementById("image-preview-modal");
        const modalImage = document.getElementById("preview-image");
        const modalTitle = document.getElementById("preview-image-title");
        const modalDescription = document.getElementById("preview-image-description");

        modal.style.display = "flex";
        modalImage.src = imageSrc;
        modalTitle.textContent = title;
        modalDescription.textContent = description;

        document.body.classList.add('no-cursor-change');
    }

    function getImageLocation(image) {
        return '../../../static/main/images/menu/' + image;
    }

    function addListenersForImagePreview(productId, name, description, image) {
        const parentElement = getProductItemParentElement(productId);
        const imageElement = parentElement.getElementsByClassName('product-img')[0]
        const imageLocation = getImageLocation(image);
        imageElement.addEventListener('click', () => openModalWithImage(imageLocation, name, description));
    }

    addListenersForQuantity({{ product.id }});
    addListenersForImagePreview({{ product.id }}, '{{ product.name }}', '{{ product.description }}', '{{ product.image }}');


    const parentElement = getProductItemParentElement({{ product.id }});
    const quantityElement = parentElement.querySelector('#quantity');

    addClickListener(parentElement, {{ product.id }}, "edit-icon", prepareEditInstructionsHandler);
    addClickListener(parentElement, {{ product.id }}, "save-icon", saveInstructionsHandler);
    addClickListener(parentElement, {{ product.id }}, "cancel-icon", cancelInstructionsHandler);

    if (getQuantityValue(parentElement) === 0) {
        const minusQuantityElement = parentElement.getElementsByClassName('minus-icon')[0];
        minusQuantityElement.classList.add('quantity-button-disabled');
    }

</script>

<tr class="product-item-row">
    <td>
        <form id="product-item-form-{{ product.id }}" method="post">
            {% csrf_token %}
            <div class="product-item">

                <div class="product-item-header">

                    <h4>{{ product.name }}</h4>
                    <div class="ingredients-warning-container">
                        {% if product.chilli_level > 0 %}
                            {% for i in product.chilli_level|chilli_range %}
                                <img class="warning-img level-{{ forloop.counter }}"
                                     src="{% static 'images/icons/chilli.png' %}"
                                     alt="Chilli" title="Chilli Level">
                            {% endfor %}
                            {% if product.contains_peanuts %}
                                <img class="warning-img"
                                     src="{% static 'images/icons/peanut.png' %}"
                                     alt="Contains Peanuts" title="Contains Peanuts">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="product-details-container container">

                    <p>{{ product.description }}</p>

                    <div class="row">

                        <div class="col-12 col-md-6 mb-4">
                            {% with '/images/menu/'|add:product.image as product_image %}
                                <img src="{% static product_image %}"
                                     alt="Menu Item"
                                     class="product-img img-fluid"
                                     onerror="this.onerror=null; this.src='{% static 'images/no-image.png' %}'">
                            {% endwith %}
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="product-price">${{ product.price|floatformat:2 }}</label>
                            <div class="product-quantity">
                                <label for="quantity">Quantity</label>
                                <i class="clickable-icon minus-quantity minus-icon fa-solid fa-circle-minus fs-5"></i>
                                <p id="quantity">{{ product.id|use_cart_item_quantity:cart }}</p>
                                <i class="clickable-icon add-quantity add-icon fa-solid fa-circle-plus fs-5"></i>
                            </div>
                            <div class="col-12 mt-2" id="{{ product.id }}-instructions-section">
                                <div class="d-flex gap-2">
                                    <label for="instructions" class="align-top small">Special Instructions</label>
                                    <i class="clickable-icon edit-icon fa-regular fa-pen-to-square fs-5"  data-bs-toggle="tooltip" data-bs-placement="top" title="Special Instructions"></i>
                                </div>
                                <div class="read-only-instructions">
                                    {{ product.id|use_cart_item_instructions:cart }}
                                </div>
                                <div class="edit-instructions gap-2 justify-content-between">
                                    <label class="w-100">
                                        <textarea id="instructions" name="instructions" class="form-control">{{ item.instructions }}</textarea>
                                    </label>
                                    <div class="d-flex flex-column gap-2 justify-content-center">
                                        <i class="clickable-icon save-icon fa-solid fa-circle-check fs-5"></i>
                                        <i class="clickable-icon cancel-icon fa-solid fa-circle-xmark fs-5"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </td>
</tr>
