/venv/
/myenv/
nohup.out
/staticfiles/
/node_modules/
/out/
db.sqlite3
/.idea/misc.xml
/.idea/vcs.xml
/foodWebsite.iml
/foodWebsite/__pycache__/
/main/__pycache__/
/main/migrations/__pycache__/
/main/services/__pycache__/
/main/templatetags/__pycache__/
/main/static/main/images/menu/temp/
/.coverage
.env.dev-cloud
.env.dev-local
.env.prod
