{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_content %}
    {% if item_list.exists %}
    <script type="module">

        import {isValidDate} from '../../static/main/js/date-utils.js';

        const menuButton = document.getElementById('menu-button');
        menuButton.addEventListener('click', () => window.location.href='{% url 'menu' %}' );

        function getEarliestValidDate(now) {
            let minutes = now.getMinutes();
            let hours = now.getHours();

            if (minutes > 0 && minutes <= 30) {
                minutes = 30;
            } else if (minutes >= 30) {
                minutes = 0;
                hours = hours + 1;
            }

            return now.getFullYear() + '-' + (now.getMonth()+1) + '-' + now.getDate() + 'T' +
                hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');
        }

        document.addEventListener('DOMContentLoaded', function() {
            const datetimeField = document.querySelector(".future-datetime-picker");
            const now = new Date();
            const earliestValidDate = getEarliestValidDate(now);
            datetimeField.min = earliestValidDate;
            datetimeField.value = earliestValidDate;

            // Add event listener to check if the selected date/time is valid
            datetimeField.addEventListener('change', function() {
                const selectedDateTime = new Date(datetimeField.value);

                if ( !isValidDate(selectedDateTime) || selectedDateTime < now) {
                    // Reset to the minimum allowed date if invalid OR even if the Clear button is selected in the date picker
                    datetimeField.value = datetimeField.min;
                }
            });

        })
    </script>
    {% endif %}
{% endblock %}

{% block window_title %}Checkout{% endblock %}
{% block title %}Checkout{% endblock %}

{% block content %}

    {% if item_list.exists %}
        <form method="post" class="form-container container" action="/checkout/">
            {%  csrf_token %}
            {{ form|crispy }}
            <div class="d-flex flex-row my-3 gap-2">
                <button id="menu-button" type="button" class="action-button btn btn-primary">Back to Menu</button>
                <button id="confirm-order-button" class="action-button btn btn-primary" name="form_type" value="checkout" type="submit">Confirm Order</button>
            </div>
        </form>

        {% include 'main/order-details.html' %}
    {% else %}
        {% include 'main/component/empty-rice-cooker.html' %}
    {% endif %}

{% endblock %}