{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_content %}
    <script type="module">
        const menuButton = document.getElementById('menu-button');
        menuButton.addEventListener('click', () => window.location.href='{% url 'menu' %}' );
    </script>
{% endblock %}

{% block window_title %}Checkout{% endblock %}
{% block title %}Checkout{% endblock %}

{% block content %}

    {% if item_list.exists %}
        <form method="post" class="form-container container" action="/checkout/">
            {%  csrf_token %}
            {{ form|crispy }}
            <div class="d-flex flex-row my-3 gap-2">
                <button id="menu-button" type="button" class="action-button btn btn-primary">Back to Menu</button>
                <button class="action-button btn btn-primary" name="form_type" value="checkout" type="submit">Confirm Order</button>
            </div>
        </form>

        {% include 'main/order-details.html' %}
    {% else %}
        {% include 'main/component/empty-rice-cooker.html' %}
    {% endif %}

{% endblock %}