{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}
{% block window_title %}FAQ{% endblock %}
{% block title %}FAQ{% endblock %}
{% block content %}

    <div class="main-content-header-image">
        <img src="{% static 'images/family/pots_and_pans_2.png' %}" alt="Pots and Pans">
    </div>
    <div class="page-title-message">
        <p>This is the place to come for any questions you have</p>
        <p>If there is something you need to know, please use the <a href="{% url 'contact' %}">Contact</a> page
            to submit your question.</p>
    </div>

    <div class="faq-container">
        {% for category in category_list %}
            <div class="classification-name-label">
                <h3>{{ category.category }}</h3>
            </div>
            {% for faq in faqs|filter_by_category:category.id %}
                <div class="faq-item my-3 px-3 py-2">
                    <h5>{{ faq.question }}</h5>
                    <p>{{ faq.answer }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}