{% extends 'main/base.html' %}

{% load static %}
{% load custom_filters %}

{% block head_content %}

    {{ price_data.gst_enabled|json_script:"gstEnabled" }}

    <script type="module">

        const classificationHeaders = document.getElementsByClassName("classification-name-label");
        for (let classificationHeader of classificationHeaders) {
            classificationHeader.addEventListener("click", () => toggleClassificationMenuSection(classificationHeader.id));
        }

        // add a listener on the scrollHeight property change so that the height is correctly
        // calculated after the DOM has loaded.
        const folderElements = document.getElementsByClassName("folder-content");
        for (let folder of folderElements) {
            const resizeObserver = new ResizeObserver(entries => {
                for (let entry of entries) {
                    if (!folder.classList.contains('collapsed')) {
                        // only set the height to the scroll height if the folder is NOT collapsed
                        folder.style.height = folder.scrollHeight + 'px';
                    }
                }
            });
            resizeObserver.observe(folder);
        }

        /**
         * Expand/Collapse menu classifications
         *
         * @param sectionId
         */
        function toggleClassificationMenuSection(sectionId) {
            const section = document.getElementById(sectionId + '-content');
            const headerSection = document.getElementById(sectionId);
            if (section.classList.contains('collapsed')) {
                section.classList.remove('collapsed');
                section.style.height = section.scrollHeight + 'px';
                headerSection.style.width = '100%';
            } else {
                section.classList.add('collapsed');
                section.style.height = '0px';
                headerSection.style.width = '50%';
            }
        }

    </script>

{% endblock %}

{% block window_title %}Menu{% endblock %}
{% block title %}Menu{% endblock %}

{% block content %}

    <div class="page-title-message container">
        <div class="row align-items-start">
            <div class="col-12 col-md-6 article-first-paragraph">
                <h3>Welcome to my menu of Sri Lankan Delicacies</h3>
                <p class="fst-italic fs-5">Whether you are just trying Sri Lankan food for the first time, or a seasoned
                    professional, I hope there will be something to get your taste-buds salivating!</p>
                <p>These items are cooked fresh upon receiving confirmation of your order so please add any special
                    requirements to your liking and we'll do our best to accommodate it!</p>
                <br>
                <p class="warning-text">This is not a catering service where we can guarantee to have your order ready
                    on the date of order. Please allow up to 2 days for your order to be cooked fresh and ready.
                    To avoid disappointment, please order in advance.</p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <img class="image-frame" src="{% static 'images/family/cutting_onions.jpg' %}" alt="Menu Page Image">
            </div>
        </div>
    </div>

    <div class="menu-classification">
        {% for classification in classifications %}
            <a href="#{{ classification.name }}"><h4>{{ classification.name }}</h4></a>
        {% endfor %}
    </div>

    {% for classification in classifications %}
        <div class="classification-item">

            <div id="{{ classification.name }}"
                 class="classification-name-label{% if classification.product_set.exists %} contains-menu-items{% endif %}">
                <i class="fa fa-arrows-v"></i>
                <h3>{{ classification.name }}</h3>
            </div>

            <div id="{{ classification.name }}-content" class="folder-content">
                <table class="product-table">
                    {% for product in classification.product_set.all %}
                        {% include 'main/component/product-item-row.html' with product=product %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}

    {% include 'main/component/image-preview-modal.html' %}

{% endblock %}

