{% load static %}
{% load custom_filters %}

<script type="module">

    import {
        incrementQuantityHandler,
        decrementQuantityHandler
    } from '../../static/main/js/order-details-utils.js';

    import {
        saveInstructionsHandler,
        cancelInstructionsHandler,
        prepareEditInstructionsHandler,
        getMinusIconElement,
        getQuantityValue
    } from '../../static/main/js/quantity-instruction-utils.js';

    import { addClickListener } from '../../static/main/js/product-item-listener-utils.js';

    // adding event listeners within javascript (rather than using onclick event in html tag) so that the
    // methods defined in the above ES6 module can be executed.
    for (let orderItem of document.getElementsByClassName("order-item-row")) {
        const productId = orderItem.id.substring(0, orderItem.id.indexOf("-"));

        addClickListener(orderItem, productId, "edit-icon", prepareEditInstructionsHandler);
        addClickListener(orderItem, productId, "save-icon", saveInstructionsHandler);
        addClickListener(orderItem, productId, "cancel-icon", cancelInstructionsHandler);
        addClickListener(orderItem, productId, "add-quantity", incrementQuantityHandler);
        addClickListener(orderItem, productId, "minus-quantity", decrementQuantityHandler);

        if ( getQuantityValue(orderItem) === 0) {
            const minusIconElement = getMinusIconElement(orderItem);
            minusIconElement.classList.add("quantity-button-disabled")
        }
    }

</script>

<link rel="stylesheet" href="{% static 'main.css' %}">

<div>

    <table class="table table-responsive table-striped table-hover table-bordered w-100">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Price</th>
        </tr>
        </thead>

        <tbody>

        {% for item in item_list %}
            <tr id="{{ item.product_id }}-table-row" class="order-item-row align-middle">
                <th scope="row">{{ forloop.counter }}</th>
                <td id="{{ item.product.id }}-instructions-section">
                        <div class="d-flex justify-content-between">
                            <span>{{ item.product.name }}</span>
                            <i class="clickable-icon edit-icon fa-regular fa-pen-to-square fs-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Special Instructions"></i>
                        </div>
                        <div class="read-only-instructions ps-3">
                            {{ item.instructions }}
                        </div>
                        <div class="edit-instructions gap-2 justify-content-between">
                            <label class="w-100">
                                <textarea id="instructions" class="form-control">{{ item.instructions }}</textarea>
                            </label>
                            <div class="d-flex flex-column gap-2 justify-content-center">
                                <i class="clickable-icon save-icon fa-solid fa-circle-check fs-5"></i>
                                <i class="clickable-icon cancel-icon fa-solid fa-circle-xmark fs-5"></i>
                            </div>
                        </div>
                </td>
                <td id="{{ item.product.id }}-quantity-section">
                        {% if update_allowed %}
                            <div class="product-quantity">
                                <i class="clickable-icon minus-quantity minus-icon fa-solid fa-circle-minus fs-5"></i>
                                <p id="quantity">{{ item.quantity }}</p>
                                <i class="clickable-icon add-quantity add-icon fa-solid fa-circle-plus fs-5"></i>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-end">{{ item.quantity }}</div>
                        {% endif %}
                </td>
                <td id="unitPrice" class="text-end">${{ item.product.price|floatformat:2 }}</td>
                <td id="extendedPrice" class="text-end">${{ item.quantity|multiply:item.product.price }}</td>
            </tr>
        {% endfor %}

        <tr>
            <th class="border-top-double" scope="row"></th>
            <td class="border-top-double"></td>
            <td class="border-top-double"></td>
            <td class="border-top-double text-end">Sub Total</td>
            <td id="summarySubTotal" class="text-end border-top-double">${{ price_data.net_cost|floatformat:2 }}</td>
        </tr>

        {% if price_data.discount > 0 %}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td class="text-end">Discount</td>
                <td id="summaryDiscount" class="text-end">-${{ price_data.discount|floatformat:2 }}</td>
            </tr>

            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td class="text-end border-top-double">Revised Sub Total</td>
                <td id="summaryRevisedSubTotal" class="text-end border-top-double">${{ price_data.revised_net_cost|floatformat:2 }}</td>
            </tr>
        {% endif %}


        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td class="text-end">GST (10%)</td>
            <td id="summaryGST" class="text-end">${{ price_data.gst|floatformat:2 }}</td>
        </tr>

        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td class="text-end fw-bold border-top-double-2 border-bottom-double">Total</td>
            <td id="summaryTotal" class="text-end fw-bold border-top-double-2 border-bottom-double">
                ${{ price_data.total_price|floatformat:2 }}</td>
        </tr>

        </tbody>
    </table>

</div>